
    <div class="col-m-10 col-sm-10 col-xs-12">
      <div>
        <h3><span>About GoingOK</span>&nbsp;
          <small>Personal reflections for people on a journey</small>
        </h3>

        <p><span>GoingOK collects personal autobiographic reflections from people who are undertaking change or transition. The web application allows users to indicate how they feel they are going, and write about why they feel that way. These short reflections are collected regularly over a period of time.</span></p>
        <p>&nbsp;</p>
      </div>
      <div>
        <h4>Current Projects</h4>
        <ul>
          <li><a routerLink="/projects/transition2teaching" routerLinkActive="active">National Transition to Teaching</a> - stories of resilience by Australian early career teachers, as they transition through their last months as students into their first months professionals.</li>
        </ul>
      </div>
      <div>
        <h4>Past Projects</h4>
        <ul>
          <li><a href="#">Becoming Colleagues</a> - narratives of early career teachers grappling with the issues associated with becoming professional teachers in remote and rural Queensland schools.</li>
        </ul>
      </div>
      <div>
        <h4>Related Projects</h4>
        <ul>
          <li><a href="http://nlytx.io/2016/metacognition/" target="_blank">Discovering Metacognitive Activity</a> - analysis of reflective writing for indicators of metacognitive activity.</li>
        </ul>
      </div>
    </div>

