<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">Test</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="goingok-font navbar-brand" href="/"><img src="/assets/img/GoingOK_Logo_small_transparent.png" height="40" style="vertical-align:top" /></a>
    </div>
    <!-- Main toggled nav content -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li th:class="${profile}"><a th:href="@{/profile}" href="/profile">Profile &nbsp;<span class="badge pull-right" th:text="${count}">17</span></a></li>-->
        <li><a *ngIf="(user | async).isSignedIn" href="profile">Profile</a></li>
        <li><a *ngIf="connectionIssues()" class="label label-danger">WARNING: GoingOK is unable to connect to the server and may not function correctly.</a></li>
        <li><a href="about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://demo.goingok.org/login">&nbsp;&nbsp;{{demoButtonText}}</a></li>
        <li><a>Google Login: {{(googleProfile|async).email}}</a></li>
        <li>
          <google-signin
          [clientId]="myClientId"
          [longTitle]="true"
          (googleSignInSuccess)="onGoogleSignInSuccess($event)">
          </google-signin>
          <!--<div *ngIf="!(user | async).isSignedIn" >-->
            <!--&lt;!&ndash;<div style="padding-top: 7px; padding-right: 4px">&ndash;&gt;-->
              <!--<google-signin-->
                  <!--[clientId]="myClientId"-->
                  <!--[longTitle]="true"-->
                  <!--(googleSignInSuccess)="onGoogleSignInSuccess($event)">-->
              <!--</google-signin>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div *ngIf="(user | async).isSignedIn"><button (click)="signOut()">Sign Out</button></div>-->
          <!--</div>-->
          <!--<a href="/login">&nbsp;&nbsp;{{loginButtonText}}</a>-->
        </li>
        <li>
          &nbsp;
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>