<div class="col-m-10 col-sm-10 col-xs-12">
  <div>
    <h3>GoingOK Projects</h3>
    <p>&nbsp;</p>
  </div>
  <div>
    <h4>Current Projects</h4>
    <ul>
      <li><a routerLink="/projects/transition2teaching" routerLinkActive="active">National Transition to Teaching</a> - stories of resilience by Australian early career teachers, as they transition through their last months as students into their first months professionals.</li>
    </ul>
  </div>
  <div>
    <h4>Past Projects</h4>
    <ul>
      <li><a href="#">Becoming Colleagues</a> - narratives of early career teachers grappling with the issues associated with becoming professional teachers in remote and rural Queensland schools.</li>
    </ul>
  </div>
</div>

