<div class="panel panel-success">
  <div class="panel-heading">
    <b class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Past Reflections</b><span class="pull-right"><a href="/profile/records/csv"><span class="glyphicon glyphicon-download btn btn-default"></span></a>
    	<span id="reflectionListHelp" class="glyphicon glyphicon-question-sign btn btn-default" data-container="body" data-toggle="popover" data-placement="left"></span></span>
  </div>
  <div class="panel-body">
    <div id="reflectionBox">
      <div *ngIf='dataLoaded'>
        <!--<div>Records: {{records}}</div>-->
        <div *ngFor="let record of records">
          <!--<div>Record: {{record}}</div>-->
          <span class="badge">{{record.reflection.point}}</span> &nbsp;&nbsp;<b>{{record.timestamp | date:'dd MMM yyyy'}}</b>&nbsp;&nbsp;<span>{{record.reflection.text}}</span>
          <hr />
        </div>
      </div>

      <!--<div th:each="record : ${myRecords}">-->

      <!--<div>-->
      <!--<b th:text="${#calendars.format(record.recordDate,'dd MMMM yyyy')}">issue date</b>&nbsp;<span class="badge" th:text="${record.pointCode}"></span>&nbsp;<span th:text="${record.trackNarrative}">reflection</span>-->
      <!--<hr/>-->
      <!--</div>-->
      <!--</div>-->

    </div>
    <div class="text-center"><span class="glyphicon glyphicon-chevron-down"></span></div>

  </div>
</div>
