
<div class="row-fluid">
  <div class = "col-sm-12">
    <reflection-chart [chartdata]="refChartData"></reflection-chart>
  </div>
</div>
<div>
  <div class="row-fluid">
    <!--<div class="col-sm-1"></div>-->
    <div class="col-sm-8">
      <entry></entry>
      <reflections></reflections>

    </div>
    <div class="col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading"><h5 class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span> GoingOK News</h5></div>
        <div id="goingokMessage" class="panel-body small">

          <!--<p>Slider: {{ sliderVal$ | async }} </p>-->
          <button (click)="increment()">+</button>
          <button (click)="decrement()">-</button>
          <!--<p>Counter: {{ count$ | async }} </p>-->


          <p></p>
          <p><strong>Welcome</strong></p>
          <p>If you are new to goingok this year, we hope that you find it helpful to reflect on a regular basis.</p>
          <p>Remember that it is better reflect regularly. It doesn't have to be long. Just a couple of sentences on how your day or week has gone. Of course if you want to unload, there is certainly no reason why you can't write a long reflection. To get the most benefit, reflecting regularly is the key.</p>
          <p>Please let us know if anything on this page can be improved in any way: <a href="mailto:support@goingok.com">support@goingok.com</a></p>
        </div>
        <div class="text-center"><span class="glyphicon glyphicon-chevron-down"></span></div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <!--<img th:src="${staticFilesUrl+'img/bird_black_32_0.png'}" height="20" width="20" /> -->
            GoingOK Research</h3>
        </div>
        <div class="panel-body">
          <p class="small">If you are participating in a research project, please ensure that your research settings are up to date.</p>
          <!--<a class="twitter-timeline" href="https://twitter.com/search?q=%23becolqld" data-widget-id="432659641411973120">Tweets about "#becolqld"</a>-->
          <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
        </div>
      </div>
    </div>
    <!--<div class="col-sm-1"></div>-->
  </div>
</div>

